body  {
  font-size: 16px;
  color: #fff;
  background-color: #61122f;
}
/*rule for google oxygen fonts*/
.oxygen-light {
  font-family: "Oxygen", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.oxygen-regular {
  font-family: "Oxygen", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.oxygen-bold {
  font-family: "Oxygen", sans-serif;
  font-weight: 700;
  font-style: normal;
}
/*::HEADER::*/
#header-nav {
  background-color: #f6b319;
  border-radius: 0px;
  border: 0px;
}
/*logo image*/
#logo-img {
  background: url(../images/lizzyLogo.png) no-repeat;
  width: 150px;
  height: 123px;
  margin: 10px 15px 10px 0px;
}